
@import url(root.css);
@import url(panel.css);
@import url(section.css);
@import url(event.css);

@import url(hexagon.css);

body
	{
	background-color: #F2F2F2;
	/*font-size: 1.25rem;*/
	}

/*
body
	{
	background-image: url(/hexagon.svg);
	background-size: 110px 190.5px;
	}
*/
