
.event
	{
	width: 30em;
	border: 1px solid gray;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	}

.event > p.type
	{
	font-size: .6rem;
	text-align: center;
	}

.event.jdr > p.type
	{
	background-color: aquamarine;
	}

dt, dd
	{
	width: 50%;
	display: inline-block;
	}
