
@import url(hexagon-day.css);
@import url(hexagon-event.css);

/*

M 51.570312,0
A 19.680417,19.680417 0 0 0 41.730468,2.63672
L 9.83789,21.05078
A 19.680417,19.680417 0 0 0 0,38.09179
v 36.82617
a 19.680417,19.680417 0 0 0 9.83789,17.04102
l 31.892578,18.41406
a 19.680417,19.680417 0 0 0 19.679691,0
L 93.302739,91.95898
A 19.680417,19.680417 0 0 0 103.14063,74.91796
V 38.09179
A 19.680417,19.680417 0 0 0 93.302739,21.05078
L 61.410159,2.63672
A 19.680417,19.680417 0 0 0 51.570312,0
Z*/


/*
M 51.570312,0 A 19.680417,19.680417 0 0 0 41.730468,2.63672 L 9.83789,21.05078 A 19.680417,19.680417 0 0 0 0,38.09179 v 36.82617 a 19.680417,19.680417 0 0 0 9.83789,17.04102 l 31.892578,18.41406 a 19.680417,19.680417 0 0 0 19.679691,0 L 93.302739,91.95898 A 19.680417,19.680417 0 0 0 103.14063,74.91796 V 38.09179 A 19.680417,19.680417 0 0 0 93.302739,21.05078 L 61.410159,2.63672 A 19.680417,19.680417 0 0 0 51.570312,0 Z
*/

.hexagon-clip-path
	{
	background-color: gold;
	/*clip-path: path("M 51.570312,0 A 19.680417,19.680417 0 0 0 41.730468,2.63672 L 9.83789,21.05078 A 19.680417,19.680417 0 0 0 0,38.09179 v 36.82617 a 19.680417,19.680417 0 0 0 9.83789,17.04102 l 31.892578,18.41406 a 19.680417,19.680417 0 0 0 19.679691,0 L 93.302739,91.95898 A 19.680417,19.680417 0 0 0 103.14063,74.91796 V 38.09179 A 19.680417,19.680417 0 0 0 93.302739,21.05078 L 61.410159,2.63672 A 19.680417,19.680417 0 0 0 51.570312,0 Z");*/
	clip-path: url(#myPath);
	width: 800px;
	height: 800px;
	}
